@use "../abstract";
@use "../base";


.navbar {
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.nav-list{
    display: flex;
    justify-content: center;
    align-content: center;
}