// *****************
// Color Variables
// *****************
$grey: #E5E5E5;
$black: #000000;

// *****************
// Break Points
// *****************
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 400px;
// @media (max-width: $breakpoint-tablet) {

// }

// *****************
// Fonts
// *****************

//$font-light: "Gotham-Light", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
//$font-medium:
//$font-bold:

